LOCUST_MASTER_HOST=locust
LOCUST_MASTER_PORT=5557
LOCUST_USE_SAVE_USER=true
LOCUST_TARGET_NET_TYPE=tcp
LOCUST_TARGET_SERVER_ADDR=10.23.50.132:8071
LOCUST_TARGET_SERVER_ID=11
LOCUST_TARGET_LESS_SERVER_ID=11
